@font-face {
 font-family: 'Ezra SIL';
 src: url('sileot.ttf');
}
heb{
 font-family:'Ezra SIL';
 font-size: 130%;
}

font.c1 {
 color: red;
}

font.c2 {
 color: #DC7633;
}

font.c3 {
 color: blue;
}

font.c4 {
 color: #AF7AC5;
}

font.c5 {
 color: gray;
}

div.refList {
 display: inline-block;
 font-size: 70%;
}

ref {
 color: #0b6078;
}

ref:hover {
 color: red;
 cursor: pointer;
}

part {
font-size: 70%;
}

/* unvisited link */
a:link {
    color: #0b6078;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #0b6078;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: red;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #0b6078;
    text-decoration: none;
}

/* tooltip */

.tt1 {
 position: relative;
 display: inline-block;
}

.tt1 .tt2 {
 visibility: hidden;
 width: 120px;
 background-color: black;
 color: #fff;
 text-align: center;
 border-radius: 6px;
 padding: 5px 0;
 
 /* Position the tooltip */
 position: absolute;
 z-index: 1;
 top: 100%;
 left: 50%;
 margin-left: -60px;
}

.tt1:hover .tt2 {
 visibility: visible;
}

#entry {
text-align: center;
}

/* elements in morphology table */
.m {
display: none;
}
.hide {
display: none;
}
div.filter-container {
display: inline-block;
}
td.morph {
width: 50%;
}
table {
 width: 100%;
 border-collapse: collapse;
}

table, th, td {
	padding-left: 10px;
	padding-right: 10px;
 border: 1px solid black;
 vertical-align: top;
}

/*
ver.vkjv {
font-style: italic;
}
*/

ver.vkjv ref {
color: gray;
}
ver.vkjv ref:hover {
color: red;
}

h4 {
    text-align: center;
    color: #354d48;
}
